{% extends 'base.html.twig' %}

{% block title %}New Agency{% endblock %}

{% block body %}
    <h1>Create New Agency</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Save</button>
    {{ form_end(form) }}

    <a href="{{ path('agency_index') }}" class="btn btn-secondary mt-3">Back to list</a>
{% endblock %}
