<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>About Page</title>

        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-icons.css" rel="stylesheet">
        <link rel="stylesheet" href="css/slick.css"/>
        <link href="css/tooplate-little-fashion.css" rel="stylesheet">
    </head>
    
    <body>
        <section class="preloader">
            <div class="spinner">
                <span class="sk-inner-circle"></span>
            </div>
        </section>
    
        <main>
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <strong><span>Culture</span> Connect</strong>
                    </a>
                    <div class="d-lg-none">
                        <a href="sign-in.html" class="bi-person custom-icon me-3"></a>
                        <a href="product-detail.html" class="bi-bag custom-icon"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="about.html">Story</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="products.html">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="faq.html">FAQs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>
                        </ul>
                        <div class="d-none d-lg-block">
                            <a href="sign-in.html" class="bi-person custom-icon me-3"></a>
                            <a href="product-detail.html" class="bi-bag custom-icon"></a>
                        </div>
                    </div>
                </div>
            </nav>

            <header class="site-header section-padding-img site-header-image">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-12 header-info">
                            <h1>
                                <span class="d-block text-primary">Culture</span>
                                <span class="d-block text-dark">Connect</span>
                            </h1>
                        </div>
                    </div>
                </div>
                <img src="images/header/businesspeople-meeting-office-working.jpg" class="header-image img-fluid" alt="">
            </header>

            <section class="team section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="mb-5">Meet our <span>team</span></h2>
                        </div>

                        <!-- Team Member Template -->
                        <div class="col-lg-4 mb-4 col-12">
                            <div class="team-thumb d-flex align-items-center">
                                <img src="images/people/senior-man-wearing-white-face-mask-covid-19-campaign-with-design-space.jpeg" class="img-fluid custom-circle-image team-image me-4" alt="">
                                <div class="team-info">
                                    <h5 class="mb-0">Wadii</h5>
                                    <strong class="text-muted">Developer #1</strong>
                                    <button type="button" class="btn custom-modal-btn" data-bs-toggle="modal" data-bs-target="#d1">
                                      <i class="bi-plus-circle-fill"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 mb-4 col-12">
                            <div class="team-thumb d-flex align-items-center">
                                <img src="images/people/portrait-british-woman.jpeg" class="img-fluid custom-circle-image team-image me-4" alt="">
                                <div class="team-info">
                                    <h5 class="mb-0">Aziz</h5>
                                    <strong class="text-muted">Developer #2</strong>
                                    <button type="button" class="btn custom-modal-btn" data-bs-toggle="modal" data-bs-target="#d2">
                                      <i class="bi-plus-circle-fill"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 mb-lg-0 mb-4 col-12">
                            <div class="team-thumb d-flex align-items-center">
                                <img src="images/people/beautiful-woman-face-portrait-brown-background.jpeg" class="img-fluid custom-circle-image team-image me-4" alt="">
                                <div class="team-info">
                                    <h5 class="mb-0">Marie</h5>
                                    <strong class="text-muted">Developer #3</strong>
                                    <button type="button" class="btn custom-modal-btn" data-bs-toggle="modal" data-bs-target="#d3">
                                      <i class="bi-plus-circle-fill"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!-- New Team Members -->
                        <div class="col-lg-4 mb-4 col-12">
                            <div class="team-thumb d-flex align-items-center">
                                <img src="images/people/beautiful-woman-face-portrait-brown-background.jpeg" class="img-fluid custom-circle-image team-image me-4" alt="">
                                <div class="team-info">
                                    <h5 class="mb-0">John Doe</h5>
                                    <strong class="text-muted">Developer #4</strong>
                                    <button type="button" class="btn custom-modal-btn" data-bs-toggle="modal" data-bs-target="#d4">
                                      <i class="bi-plus-circle-fill"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 mb-lg-0 mb-4 col-12">
                            <div class="team-thumb d-flex align-items-center">
                                <img src="images/people/beautiful-woman-face-portrait-brown-background.jpeg" class="img-fluid custom-circle-image team-image me-4" alt="">
                                <div class="team-info">
                                    <h5 class="mb-0">Jane Smith</h5>
                                    <strong class="text-muted">Developer #5</strong>
                                    <button type="button" class="btn custom-modal-btn" data-bs-toggle="modal" data-bs-target="#d5">
                                      <i class="bi-plus-circle-fill"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="testimonial section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 mx-auto col-11">
                            <h2 class="text-center">Culture Unites, <br> <span>Love</span> Ignites</h2>
                            <div class="slick-testimonial">
                                <div class="slick-testimonial-caption">
                                    <p class="lead">"I found this website extremely useful. It has saved me so much time, and the team behind it is doing a fantastic job. Just a few minor tweaks needed!"</p>
                                    <div class="slick-testimonial-client d-flex align-items-center mt-4">
                                        <img src="images/people/senior-man-wearing-white-face-mask-covid-19-campaign-with-design-space.jpeg" class="img-fluid custom-circle-image me-3" alt="">
                                        <span> John D. <strong class="text-muted">Event Orginazer</strong></span>
                                    </div>
                                </div>
                                <div class="slick-testimonial-caption">
                                    <p class="lead">"This platform exceeded my expectations! The features are well thought out, and I love the attention to detail. Keep up the great work!"</p>
                                    <div class="slick-testimonial-client d-flex align-items-center mt-4">
                                        <img src="images/people/beautiful-woman-face-portrait-brown-background.jpeg" class="img-fluid custom-circle-image me-3" alt="">
                                        <span>Emily T. <strong class="text-muted">Event Organizer</strong></span>
                                    </div>
                                </div>
                                <div class="slick-testimonial-caption">
                                    <p class="lead">"The website is well-designed and easy to navigate. Everything runs smoothly, and I found exactly what I was looking for. Great job!"</p>
                                    <div class="slick-testimonial-client d-flex align-items-center mt-4">
                                        <img src="images/people/portrait-british-woman.jpeg" class="img-fluid custom-circle-image me-3" alt="">
                                        <span>James L. <strong class="text-muted">User</strong></span>
                                    </div>
                                </div>
                                <div class="slick-testimonial-caption">
                                    <p class="lead">"I had an amazing experience using this platform. The team is professional, responsive, and always ready to help. Highly recommended!"</p>
                                    <div class="slick-testimonial-client d-flex align-items-center mt-4">
                                        <img src="images/people/woman-wearing-mask-face-closeup-covid-19-green-background.jpeg" class="img-fluid custom-circle-image me-3" alt="">
                                        <span>Sarah M. <strong class="text-muted">User</strong></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-10 me-auto mb-4">
                        <h4 class="text-white mb-3"><a href="index.html">Culture</a> Connect</h4>
                        <p class="copyright-text text-muted mt-lg-5 mb-4 mb-lg-0">Copyright © 2025 <strong>Culture Connect</strong></p>
                        <br>
                    </div>
                    <div class="col-lg-5 col-8">
                        <h5 class="text-white mb-3">Sitemap</h5>
                        <ul class="footer-menu d-flex flex-wrap">
                            <li class="footer-menu-item"><a href="about.html" class="footer-menu-link">About</a></li>
                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Products</a></li>
                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">FAQs</a></li>
                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-4">
                        <h5 class="text-white mb-3">Social</h5>
                        <ul class="social-icon">
                            <li><a href="#" class="social-icon-link bi-youtube"></a></li>
                            <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>
                            <li><a href="#" class="social-icon-link bi-instagram"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <!-- TEAM MEMBER MODALS -->
        <div class="modal fade" id="d1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content border-0">
                    <div class="modal-header flex-column">
                        <h3 class="modal-title" id="exampleModalLabel">Wadii Zouaghi</h3>
                        <h6 class="text-muted">Developer#1</h6>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5 class="mb-4">Wadii is a seasoned developer with over three years of experience in the tech industry, having worked on a variety of projects for different companies.</h5>
                        <div class="row mb-4">
                            <div class="col-lg-6 col-12">
                                <p>He specializes in web development, creating responsive and user-friendly websites using the latest technologies.</p>
                            </div>
                            <div class="col-lg-6 col-12">
                                <p>Wadii is passionate about coding and continuously learning new skills to stay updated with industry trends.</p>
                            </div>
                        </div>
                        <ul class="social-icon">
                            <li class="me-3"><strong>Where to find?</strong></li>
                            <li><a href="#" class="social-icon-link bi-youtube"></a></li>
                            <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>
                            <li><a href="#" class="social-icon-link bi-instagram"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="d2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content border-0">
                    <div class="modal-header flex-column">
                        <h3 class="modal-title" id="exampleModalLabel">Aziz Aroua</h3>
                        <h6 class="text-muted">Developer#2</h6>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5 class="mb-4">Aziz is a skilled marketer with over three years of experience in the industry, having led successful campaigns for various brands.</h5>
                        <div class="row mb-4">
                            <div class="col-lg-6 col-12">
                                <p>He specializes in digital marketing, creating innovative strategies to boost brand awareness and engagement.</p>
                            </div>
                            <div class="col-lg-6 col-12">
                                <p>Aziz is dedicated to staying ahead of marketing trends and continuously improving his skills.</p>
                            </div>
                        </div>
                        <ul class="social-icon">
                            <li class="me-3"><strong>Where to find?</strong></li>
                            <li><a href="#" class="social-icon-link bi-facebook"></a></li>
                            <li><a href="#" class="social-icon-link bi-instagram"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="d3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content border-0">
                    <div class="modal-header flex-column">
                        <h3 class="modal-title" id="exampleModalLabel">Marie Sam</h3>
                        <h6 class="text-muted">Developer#3</h6>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5 class="mb-4">Marie is a visionary leader with over five years of experience in the tech industry, having founded and led successful startups.</h5>
                        <div class="row mb-4">
                            <div class="col-lg-6 col-12">
                                <p>She specializes in software development, creating innovative solutions that drive business growth and efficiency.</p>
                            </div>
                            <div class="col-lg-6 col-12">
                                <p>Marie is passionate about technology and continuously seeks to push the boundaries of what's possible.</p>
                            </div>
                        </div>
                        <ul class="social-icon">
                            <li class="me-3"><strong>Where to find?</strong></li>
                            <li><a href="#" class="social-icon-link bi-twitter"></a></li>
                            <li><a href="#" class="social-icon-link bi-linkedin"></a></li>
                            <li><a href="#" class="social-icon-link bi-envelope"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="d4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content border-0">
                    <div class="modal-header flex-column">
                        <h3 class="modal-title" id="exampleModalLabel">Marie Sam</h3>
                        <h6 class="text-muted">Developer#4</h6>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5 class="mb-4">Marie is a visionary leader with over five years of experience in the tech industry, having founded and led successful startups.</h5>
                        <div class="row mb-4">
                            <div class="col-lg-6 col-12">
                                <p>She specializes in software development, creating innovative solutions that drive business growth and efficiency.</p>
                            </div>
                            <div class="col-lg-6 col-12">
                                <p>Marie is passionate about technology and continuously seeks to push the boundaries of what's possible.</p>
                            </div>
                        </div>
                        <ul class="social-icon">
                            <li class="me-3"><strong>Where to find?</strong></li>
                            <li><a href="#" class="social-icon-link bi-twitter"></a></li>
                            <li><a href="#" class="social-icon-link bi-linkedin"></a></li>
                            <li><a href="#" class="social-icon-link bi-envelope"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="d5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content border-0">
                    <div class="modal-header flex-column">
                        <h3 class="modal-title" id="exampleModalLabel">Marie Sam</h3>
                        <h6 class="text-muted">Developer#5</h6>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <h5 class="mb-4">Marie is a visionary leader with over five years of experience in the tech industry, having founded and led successful startups.</h5>
                        <div class="row mb-4">
                            <div class="col-lg-6 col-12">
                                <p>She specializes in software development, creating innovative solutions that drive business growth and efficiency.</p>
                            </div>
                            <div class="col-lg-6 col-12">
                                <p>Marie is passionate about technology and continuously seeks to push the boundaries of what's possible.</p>
                            </div>
                        </div>

                        <ul class="social-icon">
                            <li class="me-3"><strong>Where to find?</strong></li>
                            <li><a href="#" class="social-icon-link bi-twitter"></a></li>
                            <li><a href="#" class="social-icon-link bi-linkedin"></a></li>
                            <li><a href="#" class="social-icon-link bi-envelope"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>



        <!-- JAVASCRIPT FILES -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/Headroom.js"></script>
        <script src="js/jQuery.headroom.js"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/custom.js"></script>
    </body>
</html>
