{% extends 'baselog.html.twig' %}

{% block body %}
<div class="container mt-5">
    <div class="alert alert-danger">
        <h4 class="alert-heading">Error Sending Email</h4>
        <p>{{ error }}</p>
    </div>
</div>
{% endblock %}