{% extends 'baselog.html.twig' %}

{% block body %}
<div class="container mt-5">
    <div class="alert alert-success">
        <h4 class="alert-heading">Email Sent Successfully!</h4>
        <p>Test ID: {{ testId }}</p>
        <p>Time: {{ timestamp }}</p>
        <hr>
        <p class="mb-0">Please check your email inbox and spam folder.</p>
    </div>
</div>
{% endblock %}