{% extends 'base.html.twig' %}

{% block title %}Hello GroupController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}!</h1>
        This friendly message is coming from:
        <ul>
            <li>Your controller at <code>src/Controller/GroupController.php</code></li>
            <li>Your template at <code>templates/group/index.html.twig</code></li>
        </ul>
    </div>
{% endblock %}