{% extends 'base.html.twig' %}

{% block title %}Edit Evants{% endblock %}

{% block body %}
    <h1>Edit Evants</h1>

    {{ include('evants/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_evants_index') }}">back to list</a>

    {{ include('evants/_delete_form.html.twig') }}
{% endblock %}
