{% extends 'base.html.twig' %}

{% block title %}New Evants{% endblock %}

{% block body %}
    <h1>Create new Evants</h1>

    {{ include('evants/_form.html.twig') }}

    <a href="{{ path('app_evants_index') }}">back to list</a>
{% endblock %}
